# Linux
*~

# Logs
logs
*.log 
npm-debug.log*

# Coverage
Coverage
.nyc_output

# Dependency
node_modules/

# Npm cache
.npm

# dotenv
.env
.env.test

# OSX
.DS_Store

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Windows shortcuts
*.lnk

# Package specific files
build
_build
site
dist
lib
yarn.lock

# IDE
.vscode
.idea
*.iml
